<div class="row">
  <div class="col-xs-12">
    <div class="jumbotron">
      <h1>Excel!</h1>
      <p>...</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">はじめる</a></p>
    </div>

  </div>
</div>

<div class="row">
  <% @lessons.each.with_index(1) do |lesson, index| %>
      <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-heading">第<%= lesson.number.to_s  %>章<%= lesson.name %></div>
          <ul class="list-group">
            <li class="list-group-item">
              <%= link_to lesson.number.to_s, lesson_path(lesson.id) %>

            </li>
            <% lesson.programs.each.with_index(1) do |program, index| %>
                <li class="list-group-item">
                  <%= link_to lesson.number.to_s+'-'+program.number.to_s+' '+program.name, lesson_path(lesson.id)+'#part'+program.number.to_s %>

                </li>
            <% end %>
          </ul>
        </div>

      </div>
  <% end %>

</div>


