<div class="row">
  <div class="col-xs-12">
    <h1>第２章 ショートカットを使い慣れていこう</h1>

    <div id="part1" >
      <h2>形式を選択して貼り付けてみよう</h2>
      第一章で作成したtest.xlsxを使います。まずsheet2があることを確認してください。（削除してしまった方は下部の＋ボタンを一度クリックして追加してください。）
      それでは、sheet1に書かれいる内容の一部をsheet2にコピーしてみましょう。

      まず、sheet1のE列を選択します。
      ここでデータが記入されている範囲をコピー（Ctrl + c）します。選択範囲が点線で囲まれたら正しくコピーされています。
      （図解）
      次に、sheet2へ移動しましょう。移動するときは（「Ctrl + Fn」を押しながらキーボードの↑、もしくは、↓）で移動しましょう。
      移動する事ができたら、カーソルはどこでもいいので貼り付け（Ctrl + v）をしてみましょう。

      すると、合計金額のみが正しくコピーされず「#REF!」と表示されます。
      これは、関数を計算する上で大元のデータが無いことによるエラーです。
      数値を正しくコピーするためには「形式を選択してコピー」する必要があります。
    </div>


    <div id="part2" >
      <h2>値を指定してコピーしてみよう</h2>

    </div>
  </div>
</div>
