@import "bootstrap-sprockets";
@import "bootstrap";
@import "lessons";

body
{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial , "Hiragino Sans", "ヒラギノ角ゴ Pro W3", "HIragino Kaku Gothic Pro W3", "HIragino Kaku Gothic Pro", Meryo, "メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  font-weight: 300;
  color: #333333;
  line-height: 1.55;
  letter-spacing: 0.1rem;
  font-size: 18px;
}

h1{
  font-size: 36px;
}