// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lesson{

  #curriculum_side_container {
    position: static;
  }

  .lesson_content{
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
    padding-bottom: 20px;
    background: #fff;
    padding-top: 10px;
    padding-right: 2rem;
    padding-left: 2rem;

    h1, h2{
      padding-top: 2rem;
      margin-top: 0;
      margin-bottom: 1rem;
      word-break: break-all;
      border-bottom: 2px solid #d65f4c;
      padding-bottom: 10px;
    }

    h3{
      font-size: 24px;
      padding-bottom: 5px;
      padding-top: 2rem;
      margin-top: 0;
      margin-bottom: 1rem;
      word-break: break-all;
      font-weight: bold;
      letter-spacing: .1em;
    }
  }

  .lesson_header{
    padding: 20% 0;
    margin: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    text-align: center;
    background-size: cover;
    background-position: center center;
    text-shadow: 0 0 5px rgba(0,0,0,0.9);
    position: relative;
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.15);
    background-color: #5bc0de;

    h1{
      border: 0;
      color: #fff;
    }
  }

  .progress_box{
    position: relative;
    top: 10px;
    width:160px;
    height:60px;

    padding: 0px 10px;
    border: 1px solid #eee;
    font-size: 12px;
    background-color: #fff;

    h4{
      margin: .5rem 0 .2rem;
      font-size: 16px;
    }

    #progress{
      height: 20px;
      margin-bottom: 20px;
      overflow: hidden;
      background-color: #f5f5f5;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);

      .progress-bar-info {
        background-color: #5bc0de;
        height:20px;
        width:0
      }
    }
  }


}
