<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">LearnExcel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  </div>
</nav>