<!DOCTYPE html>
<html>
  <head>
    <title>LearnExcel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div class="container">
    <%= render partial: 'header' %>
    <% if notice || alert %>
        <div class="row" >
          <% if notice %>
              <div class="col-xs-12" >
                <p class="alert alert-success"><%= notice %></p>
              </div>
          <% end %>
          <% if alert %>
              <div class="col-xs-12" >
                <p class="alert alert-danger"><%= alert %></p>
              </div>

          <% end %>
        </div>
    <% end %>

    <%= yield %>

  </div>

  </body>
</html>
